
nav ul{
    list-style: none;
    display: flex;
    gap: 50px;
    margin-top: 7px;
    margin-left: 150vh;
    background-color: bisque;

}
a:hover{
    color:red;
    text-decoration: underline;

}
nav ul li a{
    text-decoration: none;
    font-weight: bold;
    color: blue;

}
img{
    width: 15px;
    height: 15px;
    border-radius: 20px;
}
h4{
    font-size:20px;
}
h5{
    font-size: 16px;
}
body{
    background-color:black;
    color: white;
}


